* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Inter'; /* Name your font family */
    src: url('https://fonts.googleapis.com/css?family=Inter');
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #F2F2F2;
  }
  
  .container {
    width: 100%;
    height:80vh;
    margin: 0 auto;
  }
  
  /* Header styling */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D5A80;
    color: white;
    padding: 10px 50px;
    height: 15%;
  }
  
  header h1 {
    font-size: 24px;
    text-align: center;
  }
  
  .doctor-info {
    text-align: right;
    padding: 10px;
  }
  
  .doctor-info p {
    margin: 0;
  }
  
  /* Main section styling */
  main {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #F2F2F2;
    border-radius: 0 0 5px 5px;
  }

  .main-scan img {
    border-radius: 5px;
    border: 5px solid #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 5px;
  }
  
 .pre-scan img {
    border-radius: 5px;
    border: 5px solid #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 10px;
  }
  
  .main-scan {
    position: relative;
    text-align: center;
    width: 70%;
    display: inline-block;
    align-items: left;
  }
  
  .main-scan .scan-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #C26146;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
  }
  
  .side-panel {
    display: flex;
    flex-direction: column;
    text-align:center;
    padding: 5%;
    width: 30%;
    display: inline-block;
  }
  
  .pre-scan h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .capture-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3D5A80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .capture-btn:hover {
    background-color: #3D5A80;
  }
  
  .toggles {
    margin-top: 20px;
    width: 100%;
  }
  
  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    height: 50px;
  }
  
  .toggle label {
    font-size: 14px;
  }
  
  .toggle input {
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
  }
  
  .toggle input:checked {
    background-color: #3D5A80;
  }
  
  .toggle input:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: 0.3s;
  }
  
  .toggle input:checked:before {
    left: 20px;
  }
  
  /* Slider styling */
  .slider-container {
    margin: 20px 0;
    text-align: center;
    color: #D9D9D9;
    accent-color: #C26146;
  }
  
  .slider {
    width: 100%;
    accent-color: #C26146;
  }
  
