* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Inter'; /* Name your font family */
    src: url('https://fonts.googleapis.com/css?family=Inter');
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #F2F2F2;
  }
  
  .container {
    width: 100%;
    height:80vh;
  }
  
  /* Header styling */

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D5A80;
    color: white;
    padding: 10px 20px;
    height: 15%;
  }

  
  header h1 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    /* justify-content: center; */
  }
  
  .doctor-info {
    text-align: right;
    padding: 10px;
    font-size: 24px;
    /* padding-right: 40px; */
  }
  
  .doctor-info p {
    font-weight: bold;
  }

  .icons {
    /* text-align: right; */
    padding: 10px;
  }


  .logo {
    max-width: 100px;
    text-align: center;
    top: 0;
    float:left;
    padding-left: 40px;
  }

  .icons .doc_icon{
    max-width: 40px;

  }

  .icons .patient_icon {
    max-width: 40px;
  }
  
  /* Main section styling */
  main {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #F2F2F2;
    border-radius: 0 0 5px 5px;
    height: 85%;
  }

  .main-scan {
    position: relative;
    text-align: center;
    width: 60%;
    display: inline-block;
  }

    
  .legend-label {
    position: relative;
    bottom: 125px;
    left: 598px;
    text-align: center;
    background-color: #F2F2F2;
    color: black;
    width: 175px;
    height:40px;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    /* border-radius: 5px; */
    margin-left: none;
  }

  .legend-color {
    position: relative;
    bottom: 85px;
    left: 523px;
    text-align: center;
    background-color: #C26146;
    color: white;
    width: 75px;
    height:40px;
    font-size: 14px;
    /* border-radius: 5px; */
    margin-right: none;
  }

  .main-scan img {
    border-radius: 5px;
    border: 5px solid #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  
 .pre-scan img {
    border-radius: 5px;
    border: 5px solid #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  
  .side-panel {
    position: relative;
    text-align: center;
    width: 40%;
    display: inline-block;
  }
  
  .pre-scan h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .capture-btn {
    margin-top: 30px;
    margin-bottom: auto;
    padding: 10px 20px;
    background-color: #3D5A80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    font-size: 24px;
  }
  
  .capture-btn:hover {
    background-color: #3D5A80;
  }
  
  .toggles {
    margin-top: 20px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    height: 70px;
    margin: 5%;
    margin-top: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .toggle label {
    font-size: 18px;
    max-width: 60px;
    text-align: center;
    white-space: pre-wrap;
  }
  
  .toggle input {
    width: 100px;
    height: 50px;
    appearance: none;
    background-color: black;
    border-radius: 50px;
    position: relative;
    outline: none;
    cursor: pointer;
  }
  
  .toggle input:checked {
    background-color: #3D5A80;
  }
  
  .toggle input:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
  }
  
  .toggle input:checked:before {
    left: 50px;
  }
  
  /* Slider styling */
  /* .slider-container {
    color: #D9D9D9;
    accent-color: #C26146;
  } */
  
  .slider {
    color: #D9D9D9;
    accent-color: #C26146;
    position: relative;
    bottom: 50px;
    width: 85%;
    /* height: 50px; */
    background: #C26146;
  }

  .slider:hover {
    opacity: 1;
  }
