* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter'; 
  src: url('https://fonts.googleapis.com/css?family=Inter');
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F2F2F2;
}

.container {
  width: 100vw;
  height:80vh;
}

/* Header styling */

/* header {
  display: flex;
  background-color: #3D5A80;
  color: white;
  padding: 3vh;
  height: 15%;
} */

header {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  background-color: #3D5A80;
  color: white;
  padding: 3vh;
  height: 15%;
}

.logo {
  display: flex;
  align-items: center;  
}

h1 {
  flex-grow: 1; 
  text-align: center; 
}


header h1 {
  font-size: 48px;
  padding: auto;
  text-align: center;
  font-weight: bold;
  /* justify-content: center; */
}

.doctor-info {
  text-align: right;
  padding: 10px;
  font-size: 24px;
  /* padding-right: 40px; */
}

.doctor-info p {
  font-weight: bold;
}

.icons {
  /* text-align: right; */
  padding: 10px;
}


/* .logo {
  text-align: center;
  top: 0;
  float:left;
  padding-left: 40px;
  align-items: center;
  margin-right: 40px;
} */

.icons .doc_icon{
  max-width: 40px;

}

.icons .patient_icon {
  max-width: 40px;
}

/* Main section styling */
main {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #F2F2F2;
  border-radius: 0 0 5px 5px;
  height: 85%;
}

.main-scan {
  /* position: relative;
  text-align: center;
  width: 60%;
  display: inline-block;
  margin: 20px; */
  position: relative;
  display: flex;
  flex-direction: column; /* Stack the image and legend vertically */
  align-items: center; /* Horizontally center the legend and image */
  margin: 20px;
  width: 70%;

}

.legend-container {
  display: flex; /* Align the legend elements side-by-side */
  align-items: center; 
  margin-top: 10px; 
  background-color: #D9D9D9; 
  padding: 10px 18px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  
.legend-label {
  /* position: relative;
  bottom: 12vh;
  left: 73%;
  text-align: center;
  background-color: #F2F2F2;
  color: black;
  width: 12%;
  height:40px;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  margin-left: none; */
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.legend-btn {
  font-size: 24px;
  font-weight: bold;
  /* color: #333; */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #D9D9D9;

}

.legend-btn:hover {
  background-color: #D9D9D9;
}

.legend-color {
  /* position: relative;
  bottom: 7vh;
  left: 67%;
  text-align: center;
  background-color: #C26146;
  color: white;
  width: 75px;
  height:40px;
  font-size: 14px;
  /* border-radius: 5px; */
  width: 20px;
  height: 20px;
  background-color: #C26146; 
  margin-right: 10px; /* Spacing between the color box and the label */
  border: 1px solid #000; 
}

.main-scan img {
  border-radius: 5px;
  border: 5px solid #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}

.pre-scan img {
  border-radius: 5px;
  border: 5px solid #FFFFFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  height: auto;
  max-height: 30vh;
}

.side-panel {
  position: relative;
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: 20px;
}

.pre-scan h2 {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.capture-btn {
  margin-top: 60px;
  margin-bottom: auto;
  padding: 10px 20px;
  background-color: #3D5A80;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  font-weight: bold;
  font-size: 2vw;
  height: 10vh;
}

.capture-btn:hover {
  background-color:#20395E;

}

/* .toggles {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 2%;
} */

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  height: 10vh;
  width:60%;
  margin: 5%;
  margin-top: 5%;
  margin-left:auto;
  margin-right:auto;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
  font-size: 4vh;
}

.toggle label {
  font-size: 2vw;
  max-width: 50%;
  text-align: center;
  white-space: pre-wrap;
}

.toggle input {
  width: 5vw;
  height: 2.5vw;
  appearance: none;
  background-color: black;
  border-radius: 4vw;
  position: relative;
  outline: none;
  cursor: pointer;
}

.toggle input:checked {
  background-color: #3D5A80;
}

.toggle input:before {
  content: '';
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 4vw;
  background-color: white;
  transition: 0.3s;
  /* left: 5px; */
}

.toggle input:checked:before {
  left: 50%;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;  
  }

  .main-scan, .side-panel {
    width: 100%;  
    margin: 10px 0;  
  }

  .capture-btn {
    width: 50%;  
  }

  h1 {
    font-size: 5vw;  
  }

  .toggle {
    font-size: 3vw;  
    height: 8vh;  
    width:50%;
  }

  .legend-label{
    font-size: 16px;
  }
  .toggle label {
    font-size: 16px;
    text-align: center;
    white-space: pre-wrap;
  }
  .capture-btn{
    font-size: 16px;
  }
  .pre-scan h2 {
    font-size: 24px;
  }
  .pre-scan img{
    width: 50vw;
  }
}

.slider {
  color: #D9D9D9;
  accent-color: #C26146;
  position: relative;
  bottom: 50px;
  width: 85%;
  /* height: 50px; */
  background: #C26146;
}

.slider:hover {
  opacity: 1;
}

#notification {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}


.upload-header {
display:flex;
margin-bottom: 3%;
align-items: center;
text-align: center;
justify-content: center;
flex-direction: column;
gap: 10px;
font-weight: bold;
}

.upload-header img.upload-icon {
width: 70px;
height: 60px;
/* margin-top: 3%; */
/* margin-bottom: 10px; */
}

.upload-header h2 {
font-size: 20px;
color: #003366;
margin: 0;
}

/* Upload box */
.upload-box {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
padding: 10px;
width: 70%;
height: 25%;
/* margin-top: auto; */
}

.file-label {
/* display: block; */
border: 2px dashed #3D5A80;
border-radius: 8px;
padding: 40px;
cursor: pointer;
text-align: center;
background-color: #F8FAFD;
margin-bottom: 15px;
transition: background-color 0.3s ease;
}

.file-label:hover {
background-color: #ffffff;
border-color: #122844;
}

.file-label img.cloud-icon {
width: 50px;
height: 50px;
margin-bottom: 10px;
}

.file-label p {
margin: 5px 0;
color: #003366;
font-size: 16px;
}

.file-info {
font-size: 16px;
color: #6C757D;
}

/* File input */
.file-input {
display: none;
}

/* Submit button */
.submit-btn {
font-size: 16px;
color: white;
background-color: #003366;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 10px;
}

.submit-btn:hover {
background-color: #00509E;
}


.back-button {
display: inline-block;
font-size: 18px;
color: white;
text-decoration: none;
padding: 10px 15px;
background-color: #007bff;
border-radius: 5px;
border: none;
cursor: pointer;
}

.back-button:hover {
background-color: #0056b3;
}

.back-arrow {
height: 30px; /* Adjust arrow size */
width: auto;
margin-right: 5%; /* Space between arrow and title */
cursor: pointer;
}